@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin:0;
}

body {
  font-family: 'Roboto';
}

button {
  font-family: 'Roboto';
  letter-spacing: 2px;
}

h1 {
  font-family: 'Instrument Serif';
}