.admin-container {
  padding: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem;
  overflow: hidden;
}

.admin-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logout-btn {
  background-color: #6792c0;
  color: white;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
  height: 3rem;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  background-color: #f5f5f5;
  margin-top: 1rem;
}

.admin-table th,
.admin-table td {
  padding: 2px;
  border: 1px solid #ddd;
  text-align: left;
  word-wrap: break-word; /* Bryter långa ord */
  overflow-wrap: break-word; /* Extra säkerhet */
}

.admin-table td {
  max-width: 3rem;
}

.delete-btn {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.delete-btn:hover {
  background-color: #cc0000;
}

.logout-btn:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 2rem;
}
