@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin:0;
}

body {
  font-family: 'Roboto';
}

.app {
  min-height: 100vh;
}

.app__mobile {
  min-height: 100vh;
}

.app__desktop-blocker {
  display: none;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  text-transform: uppercase;
  letter-spacing: 3px;
}

button {
  font-family: 'Roboto';
  letter-spacing: 2px;
}

h1 {
  font-family: 'Instrument Serif';
}

@media (min-width: 768px) {
  .app__mobile {
    display: none;
  }

  .app__desktop-blocker {
    display: flex;
  }
}